language: node_js
node_js:
  - 10
cache:
  directories:
  - node_modules
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  on:
    branch: master
before_script:
  - "npm i"
script:
  - "npm run build"
after_success:
  - "npm run deploy"
